:host{
  margin-top: 1rem;
  display: block;
}

.info-text{
  text-align: center;
}

mat-spinner{
  margin:auto
}

.post-image{
  width:100%;
}

.post-image img{
  width:100%;
  margin-bottom: 2rem;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.65)
}
